/*body{
  text-align:center;
  font-family:'Courier New', Courier, monospace,sans-serif;
  background-color:#c7b407;
    color:#ffffff;
margin: 0px;
}*/
h2{
  color:#9065da;
  font-size: 40px;
}

.titulo-verde{
  color:rgb(12, 10, 10);
}

.titulo-vermelho{
  color:#FF9E9E;
}

.titulo-amarelo{
  color:#ffe36d;
}

section{
  width: 100%;
 margin:0 auto;
}
section section{
  width:100%
}

h1{
  font-size: 60px;
  font-weight: 300;
}

h3{
  font-size:22px;
  font-style: italic;
}


p{
  line-height: 1.5;
  font-size: 20px;
}

img{
  width: 100%;
}
ul{
   list-style-type:nome;
}
h2{
  color:rgb(223, 245, 245);
  font-size: 40px;
}

.titulo-verde{
  color:#d7e5eb80;
}

.titulo-vermelho{
  color:#FF9E9E;
}

.titulo-amarelo{
  color:#ffe36d;
}

section{
    max-width: 60%;
    margin:0 auto;
}
section section{
  width:100% ;
}
h1{
  font-size: 60px;
  font-weight: 300;
}

h3{
  font-size:22px;
  font-style: italic;
}


p{
  line-height: 1.5;
  font-size: 20px;
}

img{
  width: 100%;
}
ul{
  list-style-type:none;
  line-height:2;
 
}
a{
  text-decoration:none;
  color:rgb(250, 104, 7);
  font-weight:700;
}
.principal {
 background-color:rgba(228, 121, 85, 0.397); 
  height:40px;
  max-width: 60%;
  margin:0 auto;
}
.principal a{
  color: rgb(215, 241, 64);
  text-decoration: underline;
  font-weight:normal;
}
.principal li{
  display: inline-block;
  line-height: 2.5;
  margin:0 89;
}
h4{
  font-style:oblique;
  color: rgba(250, 146, 181, 0.822);
}
body{
  text-align:center;
  font-family:Open Sans,sans-serif;
  background-color:#080603;
  color:#ffffff;
  margin: 0px 0px 30px 0px;
}

button{
 background: #f3c441;
 border: 1px solid transparent;
 padding: 2px 20px;
 border-radius: 3px;
}